* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --grid-width: 650px;
  --grid-height: 650px;
}

body {
  background-color: beige;
  font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
  height: var(--grid-height);
  width: var(--grid-width);
  margin: 5.25rem auto;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.row-container {
  display: flex;
  flex: 1;
}

.column-container {
  border: 1px solid grey;
  flex: 1;
}

.border-container {
  height: 700px;
  width: 700px;
  border: 25px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover-event {
  background-color: green;
}

h1 {
  text-align: center;
  margin-top: 40px;
  font-size: 4rem;
}

.outer-container {
  display: flex;
  margin: 2rem auto;
  justify-content: space-around;
}

.btn-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 700px;
  justify-content: center;
  background-color: darkgrey;
  margin-left: -300px;
  padding: 12px;
}

.btn-container button {
  margin-bottom: 20px;
  height: 45px;
  background-color: white;
  color: #4d4dff;
  border: 1px solid #4d4dff;
  font-size: 18px;
  border-radius: 8px;
}

.btn-container button:hover {
  cursor: pointer;
  background-color: #4d4dff;
  color: white;
}
