* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --grid-width: 560px;
  --grid-height: 560px;
}

.grid-container {
  height: var(--grid-height);
  width: var(--grid-width);
  border: 2px solid black;
  margin: 5.25rem auto;
}

.inner-container {
  border: 1px solid grey;
  /* width: var(--grid-width);
  height: 20px; */
}
